body {
    color: white;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

/* Definir los colores */
.back-aqua { background-color: #34EAA9; }
.back-yellow { background-color: #F7EA00; }
.back-purple { background-color: #E486EA; }
.back-blue { background-color: #36B6E8; }
.back-pink { background-color: #E836B1; }
.back-orange { background-color: #F7B93C; }

/* Define la altura de las secciones */
.back-purple {
    float: right;
    min-height: 10em;
    padding: 1em .5em;
}

.back-aqua, .back-blue, .back-orange, .back-pink {
    min-height: 5em;
    padding: 1em .5em;
}

/* Bordes en todas las áreas */
.back-aqua, .back-blue, .back-orange, .back-pink, .back-purple, .back-yellow {
    border: 3px solid white;
}

/* Se realiza el ajuste de desktop a mobile */ 

@media screen and (min-width: 100px) and (max-width: 768px) {
    .back-aqua, .back-purple {
        width: 100%;
    }

    .back-blue, .back-pink, .back-orange {
        width: 33.33%;
    }

    .back-aqua {
        height: 12em;
    }

    .back-purple, .back-blue, .back-pink, .back-orange {
        height: 3.5em;
    }
} 
