/* Diseño de desktop a mobile */ 

body {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
}

/* Definir los colores */
.back-aqua { background-color: #34EAA9; }
.back-yellow { background-color: #F7EA00; }
.back-purple { background-color: #E486EA; }

/* Define la altura de las secciones */
.back-aqua, .back-purple {
    height: 5em;
}

/* Bordes en todas las áreas */
.back-aqua, .back-purple, .back-yellow {
    border: 3px solid white;
}

/* Se realiza el ajuste de desktop a mobile */ 

@media screen and (min-width: 100px) and (max-width: 768px) {
    .back-aqua, .back-purple {
        width: 100%;
    }

    .back-aqua {
        height: 16em;
    }

    .back-purple {
        height: 3.5em;
    }
}