/* Diseño de desktop a mobile */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    font-weight: lighter;
    margin: 0 auto;
    min-width: 1000px;
    text-align: center;
    width: 100%
}

.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    border: 3px solid white;
    float: left;
    /*min-height: 17px;*/
    height: 3.5em;
    /* glutters*/
    padding: 12px;
}

/* Define el ancho de las columnas */
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.67%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.67%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.67%; }
.col-12 { width: 100%; }

/* Definir los colores */
.back-aqua { background-color: #34EAA9; }
.back-yellow { background-color: #F7EA00; }
.back-purple { background-color: #E486EA; }
.back-blue { background-color: #36B6E8; }
.back-pink { background-color: #E836B1; }
.back-orange { background-color: #F7B93C; }
.back-red { background-color: #ED5A5A; }
.back-green { background-color: #92E542; }

/* Define la altura de las secciones */
.back-purple {
    height: 15em;
    float: right;
}

.back-aqua, .back-blue, .back-orange, .back-pink, .back-red, .back-green {
    height: 7.5em;
}


.back-red {
    clear: both;
}

/* Se realiza el ajuste de desktop a mobile */ 

@media screen and (min-width: 100px) and (max-width: 768px) {
    .back-purple {
        border-top: 20px solid white;
        height: 3.5em;
        width: 100%;
    }

    .back-yellow {
        border-bottom: 20px solid white;
    }

    .back-aqua, .back-blue, .back-orange, .back-pink, .back-red, .back-green{
        border: 15px solid white;
        height: 3.5em;
        width: 33.3%;
    }

} 