/* Diseño de desktop a mobile */ 
body {
    color: white;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

/* Definir los colores */
.back-aqua { background-color: #34EAA9; }
.back-yellow { background-color: #F7EA00; }
.back-purple { background-color: #E486EA; }
.back-blue { background-color: #36B6E8; }
.back-pink { background-color: #E836B1; }
.back-orange { background-color: #F7B93C; }
.back-red { background-color: #ED5A5A; }
.back-green { background-color: #92E542; }

/* Define la altura de las secciones */
.back-purple {
    min-height: 10em;
    float: right;
    padding: 1em .5em;
}

.back-aqua, .back-blue, .back-orange, .back-pink, .back-red, .back-green {
    min-height: 5em;
    padding: 1em .5em;
}

/* Bordes en todas las áreas */
.back-aqua, .back-blue, .back-orange, .back-pink, .back-red, .back-green, .back-purple, .back-yellow {
    border: 3px solid white;
}

/* Se realiza el ajuste de desktop a mobile */ 

@media screen and (min-width: 100px) and (max-width: 768px) {
    .back-purple {
        border-top: 20px solid white;
        height: 3.5em;
        width: 100%;
    }

    .back-yellow {
        border-bottom: 20px solid white;
    }

    .back-aqua, .back-blue, .back-orange, .back-pink, .back-red, .back-green{
        border: 15px solid white;
        height: 3.5em;
        width: 33.3%;
    }

} 